body {
  background-color: snow;
}

#the-string {
  display: none;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th,td {
    padding: 15px;
}

tr.header
{
    cursor:pointer;
}

.header .sign:before{
  content:"+";
  display:inline-block;      
}

.header.expand .sign:before{
  content:"-";
}

